asgiref==3.11.1
Django==5.2.16
django-filter==26.1
django-modeltranslation==0.20.3
djangorestframework==3.17.1
djangorestframework_simplejwt==5.5.1
drf-spectacular==0.30.0
gunicorn==26.0.0
inflection==0.5.1
jsonschema==4.26.0
jsonschema-specifications==2025.9.1
pillow==12.3.0
polib==1.2.0
psycopg2-binary==2.9.12
PyJWT==2.13.0
PyYAML==6.0.3
requests==2.34.2
sqlparse==0.5.5
tzdata==2026.3
uritemplate==4.2.0
